body {
    margin: 0;
    overflow-x: hidden;
}

header {

    width: 100vw;
    height: 80vw;
    max-height: 80vh;
    /* background-color: red; */
    position: relative;
}


#Title {
    position: absolute;
    bottom: 5%;
    left: 5%;
    color: rgb(255, 255, 255);
    font-family: "Times New Roman", Georgia, Serif;
    font-size: 70px;
}

#BackgroundImage{
    position: fixed;
    width: 100vw;
    height: 80vw;
    object-fit: cover;
    filter: brightness(0.8);
    z-index: 0;
}

#MainPage{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: white;
    z-index: 1;
}

#DiscriptionContainer {
    width: 80%;
    height: 80%;
    min-width: 40vh;
    background-color: blue;
    
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-wrap: wrap;
}

#DiscriptionImage {
    flex-shrink: 0;
    /* background-color: red; */
    background-image: url("background.jpg");
    /* display: inherit; */
    width: 100%;
    overflow: hidden;
    height: 0;
    padding-top: 56.25%;
    
    
}

#DiscriptionText {
    flex-shrink: 0;
    background-color: green;
    /* display: inherit; */
    /* min-width: ; */
    width: 40%;
    height: 80%; 
    margin-right: 10%;
}