body {
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
    margin: 0;
}

#Image {
    width: 20vh;
}

#container {
    display: flex;
    flex-direction: row;
}

#Description {
    background-color:bisque ;
}