body {
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
    margin: 0;
}

#Image {
    width: 100%;
    height: 100%;
}

#container {
    display: flex;
    flex-direction: row;
    height: 40vh;
    margin-left: 10%;
    margin-right: 10%;
}

#Details {
    background-color:bisque ;
}

#CharacterContainer
{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    max-width: 80%;
    height: 50%;
    margin-right: 10%;
    margin-left: 10%;
    padding-bottom: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    border-style: groove;
}

.CharacterImageContainer{
    width: 15vw;
    height: 35vh;
    flex-shrink: 0;
    display: flex;
    margin: 1%;
    background-color: bisque;
    position: relative;
}

.CharacterImageContainer:hover .CharacterImage {
    opacity: 0.3;
}
.CharacterImageContainer:hover .CharacterNameDiv {
    opacity: 1;
}
.CharacterImage{
    display: block;
    transition: .5s ease;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    opacity: 1; 
}

.text {   
    /* background-color: #4CAF50; */
    color: white;
    font-size: 32px;
    padding: 16px 32px;
}

.CharacterNameDiv {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #D62929;
}