body {
    background: url(background.jpg) no-repeat center center fixed;
    overflow-y: hidden;
    margin: 0;
}

#SearchContainer{
    /* display: flex;
    flex-direction: column;
    height: 10px; */
    position: absolute;
    left: 50%
    ;
}