body {
    margin: 0;
    
}


#Header {
    z-index: 3;
    width: 10%;
    height: 5%;
    position: fixed;
    left: 90%;

}
#WeatherTemperature {
    position: absolute;
    font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 100%;
    color: white;
    top: 0;
    margin-top: 5%;
    margin-bottom: 0%;
    right: 10%;
}

#WeatherLocation {
    position: absolute;
    font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 100%;
    color: white;
    margin-top: 20%;
    right: 10%;
    top: 0%;
}
#MainContainer {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
}

#Wrapper {
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 1;
    transition: transform 0.7s;
    
}
#wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.8);
}

#HomeContainer{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 40vw;
    height: 50vh;
}

#WelcomeText {
    font-size: 3vw;
    margin-bottom: 50px;
    font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
}

#ClockDivision {
    font-size: 10vw;
    font-weight: 500;
    letter-spacing: -5px;
    font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
}

#SearchContainer
{
    display: flex;
    flex-direction: column;
}

#EnterHere{
    font-size: 3vw;
    font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
}

@keyframes fadeIn { 
    from {
        opacity: 0;
    }
}
#Example {
    font-size: 1vw;
    font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    animation: fadeIn 2s infinite alternate;
}

#SearchContainer input {
    width: 100%;
    padding-top: 10px;
    display: block;
    background: 0;
    border: 0;
    border-bottom: 4px solid #fff;
    color: #fff;
    font-size: 200%;
    line-height: 120%;
    font-weight: 500;
    outline: none;
    text-align: center;
    transition: border-color .2s ease;

}

#SearchContainer input:focus {
    text-align: center;
    border-style: none;
    outline: none;
    border-bottom: 4px solid #fff;
}

#AttributeDivision {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
    height: 3vh;
}

.AttributeBox {
    margin-right: 10px;
    border-bottom: 4px solid white;
    border-left: 4px solid white;
    border-right: 4px solid white;
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    /* width: 100%; */
    align-items: center;
    
}

#AttributeLabel{
    font-size: 100%;
    margin-left: 5%;
    margin-right: 10%;
    font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
}

#AttributeButton {
    margin-right: 20px;
    background-color: transparent;
    border-style: none;
    color: white;
}
#AttributeButton:active {
    background-color: red;
    outline: none;
}
#AttributeButton:focus
{
    outline: none;
}

#GoButtonDivision {
    position: relative;
    margin-top: 2%;
    align-items: center;
    width: 60px;
    height: 60px;
    left: 50%;
    transform: translate(-50%, 0);
}


.GoToButton
{
    border-style: solid;
    border-color: white;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    background-color:transparent;
    transition: opacity 1s;
}

.GoToButton:focus
{
    outline: none;
}

/*  */

#ListContainer {
    position: absolute;
    height: 100vh;
    width: 100vw;
    /* margin-top: 100vh; */
    display: inline;
    top: 0;
    left: 0;
    z-index: 0;
}


#ListBackgroundImage {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
    z-index: 0;
}

#ListContainer #GoToSearchDivision {
    position: relative;
    margin-top: 2%;
    align-items: center;
    width: 60px;
    height: 60px;
    left: 50%;
    transform: translate(-50%, 0);
}


#RightPanel {
    position: absolute;
    top: 40%;
    right: 0;
    height: 60vh;
    width: 30%;
    display: flex;
    flex-direction: column;

}

.LabelDivision {
    position: relative;
    width: 100%;
    height: 30%;
    transition: transform .3s;
    transition-timing-function: ease;
    flex-shrink: 0;
}

.LabelDivision:hover {
    cursor: pointer;
}

.LabelDivision:hover label{
    transition:  .5s;
}

.LabelDivision label {
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    transition: .5s;
    opacity: 0.3;
}
